
.breadcrumb-list{
    list-style-type: none;
    display: inline;
    margin:1rem;
    padding: 0;
}
.breadcrumb-li{
    display: inline;
}
.breadcrumb-link{
    text-decoration: none;
}
.bc-active{
    color: var(--mi-color)
}
.bc-inactive{
    color: darkgray;
    cursor:auto ;
}
.bc-current{
    font-weight: bold;
    color: #808080;
    cursor:auto ;
}
.breadcrumbs-separator{
    /* border: 1px solid red; */
    padding: 0 .5rem;
    font-weight: bold;
    color: gray;
}



